// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

#cocktail-image {
  background-image: url("https://www.maxim.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_700/MTUwODg5MTM1MDY0NzU0MDA5/cocktails-promo.webp");
  color: white;
  background-size: auto;
  padding: 165px;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 80px;

}

