// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#cocktail-image {
  display: flex;
  justify-content: center;
  background-image: url("https://www.maxim.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_700/MTUwODg5MTM1MDY0NzU0MDA5/cocktails-promo.webp");
  color: white;
  background-size: auto;
  padding: 165px;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
  vertical-align: top;
}
